In [1]:
# Data frame operations
# DataFrame operations in pandas cover a wide range of functionalities for data manipulation and analysis.

In [40]:
# Value count():Counting the occurrences of unique value in a column.
import pandas as pd 
data={'A':[1,2,3,4,5],'B':[5,4,3,2,1],'C':['Apple','Banana','Apple','orange','Banana']}
df=pd.DataFrame(data)
value_counts=df['C'].value_counts()
print(value_counts)

C
Apple     2
Banana    2
orange    1
Name: count, dtype: int64

In [41]:
# Apply():Appling the function along the axis of dataframe.
import pandas as pd 
data={'Number':[1,2,3,4,5]}
df=pd.DataFrame(data)
def string_to_int(x):
   return int(x)
df['Number']=df['Number'].apply(string_to_int)
print(df['Number'])

0    1
1    2
2    3
3    4
4    5
Name: Number, dtype: int64

In [42]:
# Unique(): Getting unique values in column.
import pandas as pd
data={'A':[1,3,7,1,3,7],'B':['x','y','z','x','y','z']}
df=pd.DataFrame(data)
unique_value_A=df['A'].unique()
print(unique_value_A)
unique_value_B=df['B'].unique()
print(unique_value_B)

[1 3 7]
['x' 'y' 'z']

In [43]:
# nunique(): Counting the number of unique value in column
import pandas as pd
data={'A':[1,4,3,1,4,3],'B':['x','y','z','x','y','z']}
df=pd.DataFrame(data)
num_unique_A=df['A'].nunique()
print(num_unique_A)
num_unique_B=df['B'].nunique()
print(num_unique_B)

3
3

In [44]:
# Describe():Generate descriptive statistics of the numerical columns in a DataFrame.
import pandas as pd
data = {'A': [1, 2, 3, 4, 5],'B': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
describe = df.describe()
print(describe)

              A          B
count  5.000000   5.000000
mean   3.000000  30.000000
std    1.581139  15.811388
min    1.000000  10.000000
25%    2.000000  20.000000
50%    3.000000  30.000000
75%    4.000000  40.000000
max    5.000000  50.000000

In [48]:
# Sorting():sort dataframe based on one or more columns.
import pandas as pd
data={'student':['om','rk','ac','ag','pd'],'maths':[80,90,75,95,77],'phy':[70,88,95,65,55],'chem':[78,82,65,85,93]}
df=pd.DataFrame(data)
sorted_df=df.sort_values(by='maths',ascending=True)
print(sorted_df)

  student  maths  phy  chem
2      ac     75   95    65
4      pd     77   55    93
0      om     80   70    78
1      rk     90   88    82
3      ag     95   65    85

In [51]:
# rank(): indicating rank
import pandas as pd
data={'student':['om','rk','ac','ag','pd'],'score':[80,90,75,95,77]}
df=pd.DataFrame(data)
rank_df=df['score'].rank(ascending=False)
print(rank_df)

0    3.0
1    2.0
2    5.0
3    1.0
4    4.0
Name: score, dtype: float64