#Series
A Pandas Series is like a column in a table.
It is a one-dimensional array holding data of any type.

In [1]:
#Example
#Create a simple Pandas Series from a list:

import pandas as pd

a = [7,8,9]

myvar = pd.Series(a)

print(myvar)

0    7
1    8
2    9
dtype: int64

In [2]:
#Labels
#If nothing else is specified, the values are labeled with their index number. First value has index 0, second value has index 1 etc.
#This label can be used to access a specified value.

In [3]:
#Example
#Return the first value of the Series:
import pandas as pd

a = [7,8,9]

myvar = pd.Series(a)

print(myvar[0])

7

In [4]:
#Create Labels
#With the index argument, you can name your own labels.

In [5]:
#Example
#Create your own labels:

import pandas as pd

a = [1,3,5,7]

myvar = pd.Series(a, index = ["x", "y", "z","W"])

print(myvar)

x    1
y    3
z    5
W    7
dtype: int64

In [6]:
#Example
#Return the value of "y":
import pandas as pd

a = [1,3,5,7]

myvar = pd.Series(a, index = ["x", "y", "z","W"])

print(myvar["y"])

3

In [7]:
# Key/Value Objects as Series
# use a key/value object, like a dictionary, when creating a Series.

In [10]:
# Example
# Create a Series using only data from "day1" and "day2":

import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2"])

print(myvar)

day1    420
day2    380
dtype: int64

In [13]:
# Operation
# slicing
import pandas as pd

s = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])

# Slicing by labels
print(s['b':'d'])

# Slicing by position
print(s[1:4])

b    2
c    3
d    4
dtype: int64
b    2
c    3
d    4
dtype: int64

In [17]:
# Arithmetic operations
s1 = pd.Series([1,3,5,7])
s2 = pd.Series([8,6,4,2])
# Element-wise addition
print(s1 + s2)
# Scalar multiplication
print(s1 * 2) 
print(s2*3)

0    9
1    9
2    9
3    9
dtype: int64
0     2
1     6
2    10
3    14
dtype: int64
0    24
1    18
2    12
3     6
dtype: int64

In [18]:
# Boolean operations
# Element-wise comparison
print(s1 > 2)  
s1 = pd.Series([1,3,5,7])

0    False
1     True
2     True
3     True
dtype: bool

In [21]:
#Aggregation and Reduction:
s = pd.Series([1,3,5,7])
print(s.sum())   # Sum of all elements
print(s.mean())  # Mean of all elements
print(s.min())   # Minimum value
print(s.max())   # Maximum value

16
4.0
1
7

In [24]:
# Sorting and Ranking:
s = pd.Series([5,6,8,7,10,12])
# Sorting by values
print(s.sort_values())

# Sorting by index
print(s.sort_index())

# Ranking
print(s.rank())

0     5
1     6
3     7
2     8
4    10
5    12
dtype: int64
0     5
1     6
2     8
3     7
4    10
5    12
dtype: int64
0    1.0
1    2.0
2    4.0
3    3.0
4    5.0
5    6.0
dtype: float64

In [26]:
# Handling Missing Data
s = pd.Series([1, 2, None, 4, 5])
# Check for missing values
print(s.isnull())
# Fill missing values with a specific value
print(s.fillna(0))

0    False
1    False
2     True
3    False
4    False
dtype: bool
0    1.0
1    2.0
2    0.0
3    4.0
4    5.0
dtype: float64

In [28]:
#Element-wise Functions:
import pandas as pd
# Creating a Series object
s = pd.Series([1,4,9,16])
print(s**0.5)

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64