In [8]:
#A variable can have a short name (like x and y) 
#or a more descriptive name (age, carname, total_volume)

#Variables Naming Rules
A variable name must start with a letter or the underscore character")
A variable name cannot start with a number")
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)
A variable name cannot be any of the Python keywords

In [10]:
#Example
x="Name_of_Person"
y="Aniruddha"
print(x)
print(y)

Name_of_Person
Aniruddha

In [11]:
#Multi Words Variable Names
#Camel Case
#Each word, except the first, starts with a capital letter:
myName = "Aniruddha"

In [12]:
#Pascal Case
#Each word starts with a capital letter:
MyName = "Aniruddha"

In [13]:
#Snake Case
#Each word is separated by an underscore character:
my_name = "Aniruddha"

In [5]:
#Many Values to Multiple Variables
#Example
x, y, z = "Red", "Blue", "yellow"
print(x)
print(y)
print(z)

Red
Blue
yellow